<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<header th:fragment="header" class="section-header">
  <nav class="navbar navbar-dark navbar-expand p-0 bg-primary">
    <div class="container">
      <ul class="navbar-nav d-none d-md-flex mr-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> English </a>
          <ul class="dropdown-menu dropdown-menu-right" style="max-width: 100px;">
            <li><a class="dropdown-item" href="#">Arabic</a></li>
            <li><a class="dropdown-item" href="#">Russian </a></li>
          </ul>
        </li>
      </ul> <!-- list-inline //  -->
    </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
  </nav> <!-- header-top-light.// -->
  <section class="header-main border-bottom">
    <div class="container" id="upper-header">
      <div class="row align-items-center">
        <div class="col-lg-3 col-4" id="div-logo">
          <a th:href="@{/}" class="brand-wrap">
            <img class="img-fluid" th:src="@{/images/logo.png}">
          </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-5 col-sm-12" id="div-search-bar">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Search item...">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header icontext">
              <div class="text">
                <span class="text-muted">Welcome!</span>
                <div th:switch="${#httpServletRequest.requestURI}">
                  <div th:case="'/signup'">
                    <a th:href="@{/}">Home</a> |
                    <a th:href="@{/login}"> Log In</a>
                  </div>
                  <div th:case="'/login'">
                    <a th:href="@{/}">Home</a> |
                    <a th:href="@{/signup}"> Sign Up</a>
                  </div>
                  <div th:case="*">
                    <a th:href="@{/login}">Log In</a> |
                    <a th:href="@{/signup}"> Sign Up</a>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
  </ul>
  </div> <!-- collapse .// -->
  </div> <!-- container .// -->
  </nav>

</header> <!-- section-header.// -->

</body>
</html>