<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>The Happy Planner - Home</title>

  <th:block th:replace="fragments/imports::imports"></th:block>
  <!-- common-imports.// -->

  <script type="text/javascript">
      /// some script

      // jquery ready start
      $(document).ready(function () {
        // jQuery code
      });
      // jquery end
    </script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<!-- section-header.// -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-md-right">&copy Copyright 2019 All rights reserved</p>
    <p>
      <a href="#">Terms and conditions</a>
    </p>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
</body>
</html>
