<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>The Happy Planner - Signup Response</title>

	<th:block th:replace="fragments/imports::imports"></th:block>
	<!-- common-imports.// -->

</head>

<body>

	<div th:replace="fragments/header::header"></div>
	<!-- section-header.// -->


	<section class="section-content padding-y">
		<div class="container">
			<header class="section-heading mb-5">
				<h3 th:text="${signupResponseEnum.getSignupMessage()}" class="section-title">You have signed up
					successfully!</h3>
			</header><!-- sect-heading -->
			<th:block th:switch="${signupResponseEnum}">
				<h4
					th:case="${T(com.psu.ist412.team2.projectplannerwebsite.business.dto.response.SignupResponseEnum).SUCCESS}">
					<a th:href="@{/login}">Click here to log in</a></h4>
				<h4
					th:case="${T(com.psu.ist412.team2.projectplannerwebsite.business.dto.response.SignupResponseEnum).EXISTING_EMAIL}">
					Forgot your password? <a th:href="@{/forgot-password}">Click here to reset it</a><br>
					Otherwise, <a th:href="@{/login}">click here to log in</a></h4>
				<h4
					th:case="${T(com.psu.ist412.team2.projectplannerwebsite.business.dto.response.SignupResponseEnum).SERVER_ERROR}">
					If you have an urgent need, please <a th:href="@{/contact-us}">contact us</a>. We appreciate your
					patience!</h4>
			</th:block>
		</div> <!-- container .//  -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

	<!-- ========================= FOOTER ========================= -->
	<footer class="section-footer border-top padding-y">
		<div class="container">
			<p class="float-md-right">
				&copy Copyright 2019 All rights reserved
			</p>
			<p>
				<a href="#">Terms and conditions</a>
			</p>
		</div><!-- //container -->
	</footer>
	<!-- ========================= FOOTER END // ========================= -->


</body>

</html>